*{
	
}

body{
	background: lavender;
}

.page-padding-x{
	padding-left: 100px;
	padding-right: 100px;
}

.banner{
	position: relative;
	width: 100%;
	height: 60vh;
	margin-top: 0px;
}

.banner img{
	width: 100%;
	height: 100%;
	display: relative;
}

.banner > div{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	text-align: left;
	padding-left: 15px;
}

.banner-header{
	font-size: 3.5rem;
	color: #fff;
	font-weight: 200;
}


.banner-desc{
	font-size: 1.5rem;
	color: #fff;
	font-weight: 300;
	margin-bottom: 30px;
}

.curve{
	position: absolute;
	bottom: 0px;
}

.intro{
	margin-top: 50px;
	display: flex;
	align-items: center;
}

.intro p{
	padding: 30px 200px;
}

.btn-partner{
	text-decoration: none;
	display: in-block;
	padding: 10px 15px;
	background: #33ccff;
	color: white;
	border-radius: 20px;
	margin-top: 20px;
	font-size: 1.2em;
}

.intro-buttons{
	display: flex;
	justify-content: center;
}

.intro-buttons a{
	text-decoration: none;
	border: solid 1px #4d6680;
	padding: 5px 10px;
	margin: 0 5px;
	background: #4d6680;
	color: white;
}

.intro-buttons a:nth-child(1){
	background: none;
	color: #4d6680;
}

.feature{
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
}

.feature > div{
	width: 32%;
	text-align: center;
	margin-top: 40px;
	border-radius: 5px;
	box-shadow: 2px 2px 5px #555;
	padding: 40px 10px;
	color: #000;
	background: white;
}
		
.feature > div:hover{
	background: #eee;
	transition: 0.3s;
}

.feature a{
	display: inline-block;
	background: purple;
	color: white;
	text-decoration: none;
	font-size: 1.2em;
	padding: 5px 10px;
	border-radius: 5px;
}

.counter-container{
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 100px 0;
}

.counter-wrapper p{
	font-size: 2rem;
	color: #8735da;
}

.counter-wrapper > div{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 150px;
	background: #8735da;
	color: #fff;
	font-size: 3em;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 5px rgba(136, 53, 218, 0.5);
	margin: 0 auto;
	margin-bottom: 100px;
	-webkit-animation-name: glow;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
}

@keyframes glow{
	0%{
		box-shadow: 0px 0px 0px 0px rgba(136, 53, 218, 0.5);
	}

	50%{
		box-shadow: 0px 0px 0px 10px rgba(136, 53, 218, 0.5);
	}

	100%{
		box-shadow: 0px 0px 0px 0px rgba(136, 53, 218, 0.5);
	}
}
		
.curriculum{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(rgba(0,102,102,0.95), rgba(0,102,102,0.95)), url(../images/coding.jpg);
	padding: 80px 0px 150px 0px;
	margin-top: 100px;
}

.testimony-header{
	text-align: center;
	padding: 30px 0;
	color: #33ccff;
}

.testimony-container{
	margin: 0 auto;
	overflow: hidden;
	border-radius: 5px;
}

.testimony > div{
	float: left;
	position: relative;
}

.testimony > div img{
	border-radius: 5px;
	width: 100%;
}

.nav-button{
	display: flex;
	justify-content: center;
}

.nav-button span{
	margin: 2px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: white;
	border: solid 1px black;
}

.current{
	background: black;
}

.name{
	position: absolute;
	width: 100%;
	background: rgba(0,0,0,0.5);
	top: -60px;
	left: 0px;
	color: orange;
	padding: 5px;
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
}

.desc{
	position: absolute;
	width: 100%;
	background: rgba(0,0,0,0.5);
	bottom: -120px;
	left: 0px;
	color: white;
	padding: 5px;
	text-align: center;
	font-size: 1em;
}

.profession{
	border-bottom: solid 1px orange;
	font-weight: bold;
	color: orange;
	font-size: 1.1em;
}

.parallax{
	color: #ffa600;
	font-size: 5rem;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/pupils-activities.jpg)
}

.parallax span{
	padding: 10px;
	border: solid 1px #ffffff;
	border-left: none;
	border-right: none;
	margin-top: 50px;
}

.for-laptop{
	position: fixed;
	top: 40%;
	width: 100%;
	text-align: center;
}

.for-laptop h2{
	font-size: 3em;
	color: #ffae00;
}
		
.tutors{
	margin: -90px 100px 15px 100px;
	background: lavender;
	border-radius: 5px 5px 0 0;
	padding: 100px 100px;
}

.program-list{
	width: 100%;
	padding-top: 80px;
	padding-bottom: 80px;
	background: #fff;
}

.program-desc{
	display: flex;
	width: 100%;
	margin-bottom: 150px;
	justify-content: space-between;
	align-items: center;
}

.program-list h3{
	margin-bottom: 50px;
	text-align: center;
	font-size: 2.5rem;
}

.partners{
	background: #666699;
	padding: 50px 0;
}
		
.slide{
	width: 190px;
	height: 200px;
	margin: 0 auto;
	position: relative;
	border-radius: 10px;
	overflow: hidden;
}
		
.slide > div{
	position: absolute;
	width: 100%;
}
		
.slide img{
	width: 100%;
}

.lightblue{
	color: #33ccff;
}





/*************************************

tablet style

*************************************/

@media only screen and (max-width: 680px) {
	
*{
	font-family: 'Open Sans', sans-serif;
}

body{
	background: lavender;
}

.page-padding-x{
	padding-left: 50px;
	padding-right: 50px;
}

.banner{
	position: relative;
	width: 100%;
	height: 300px;
	margin-top: 50px;
}

.banner img{
	width: 100%;
	height: 100%;
}

.banner > div{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-left: 5px;
}

.banner-header{
	font-size: 2.1rem;
	color: #fff;
	font-weight: 200;
}


.banner-desc{
	font-size: 1.1rem;
	color: #fff;
	font-weight: 300;
	margin-bottom: 30px;
}

.intro{
	margin: 80px 50px 0 50px;
	display: flex;
	align-items: center;
}

.intro p{
	padding: 0;
}

.btn-partner{
	text-decoration: none;
	display: in-block;
	padding: 10px 15px;
	background: #33ccff;
	color: white;
	border-radius: 20px;
	margin-top: 20px;
	font-size: 1.2em;
}

.intro-buttons{
	display: flex;
	justify-content: center;
}

.intro-buttons a{
	text-decoration: none;
	border: solid 1px #4d6680;
	padding: 5px 10px;
	margin: 0 5px;
	background: #4d6680;
	color: white;
}

.intro-buttons a:nth-child(1){
	background: none;
	color: #4d6680;
}

.feature{
	display: flex;
	flex-direction: column;
	padding: 0 50px;
	margin-top: 80px;
}

.feature > div{
	width: 100%;
	text-align: center;
	margin-top: 40px;
	border-radius: 5px;
	box-shadow: 2px 2px 5px #555;
	padding: 40px 40px;
	color: #000;
	background: white;
}
		
.feature > div:hover{
	background: #eee;
	transition: 0.3s;
}

.feature a{
	display: inline-block;
	background: purple;
	color: white;
	text-decoration: none;
	font-size: 1.2em;
	padding: 5px 10px;
	border-radius: 5px;
}

.counter-container{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
	margin: 70px 0;
}

.counter-wrapper p{
	font-size: 1.3em;
	color: #8735da;
}

.counter-wrapper > div{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	background: #8735da;
	color: #fff;
	font-size: 2em;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 5px rgba(136, 53, 218, 0.5);
	margin: 0 auto;
	margin-bottom: 0px;
	-webkit-animation-name: glow;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
}

@keyframes glow{
	0%{
		box-shadow: 0px 0px 0px 0px rgba(136, 53, 218, 0.5);
	}

	50%{
		box-shadow: 0px 0px 0px 5px rgba(136, 53, 218, 0.5);
	}

	100%{
		box-shadow: 0px 0px 0px 0px rgba(136, 53, 218, 0.5);
	}
}

.testimony-container{
	margin: 0 auto;
	overflow: hidden;
	border-radius: 5px;
}

.testimony > div{
	float: left;
	position: relative;
}

.testimony > div img{
	border-radius: 5px;
	width: 100%;
}

.nav-button{
	display: flex;
	justify-content: center;
}

.nav-button span{
	margin: 2px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: white;
	border: solid 1px black;
}

.current{
	background: black;
}

.name{
	position: absolute;
	width: 100%;
	background: rgba(0,0,0,0.5);
	top: -60px;
	left: 0px;
	color: orange;
	padding: 5px;
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
}

.desc{
	position: absolute;
	width: 100%;
	background: rgba(0,0,0,0.5);
	bottom: -120px;
	left: 0px;
	color: white;
	padding: 5px;
	text-align: center;
	font-size: 1em;
}

.profession{
	border-bottom: solid 1px orange;
	font-weight: bold;
	color: orange;
	font-size: 1.1em;
}

.parallax{
	color: #ffa600;
	font-size: 5rem;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/pupils-activities.jpg)
}

.parallax span{
	color: #ffa600;
	font-size: 2.2rem;
	padding: 10px;
	border: solid 1px #ffffff;
	border-left: none;
	border-right: none;
}

.for-laptop{
	position: fixed;
	top: 40%;
	width: 100%;
	text-align: center;
}

.for-laptop h2{
	font-size: 3em;
	color: #ffae00;
}
		
.curriculum{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(rgba(0,102,102,0.95), rgba(0,102,102,0.95)), url(../images/coding.jpg);
	padding: 30px 15px 150px 15px;
	margin-top: 100px;
}
		
.tutors{
	margin: -90px 50px 15px 50px;
	border-radius: 5px 5px 0 0;
	padding: 30px 15px;
}

.program-list{
	width: 100%;
	padding-top: 80px;
	padding-bottom: 80px;
	background: #fff;
}

.program-desc{
	display: flex;
	width: 100%;
	margin-bottom: 70px;
	justify-content: space-between;
	align-items: center;
}

.program-list h3{
	margin-bottom: 30px;
	padding: 0 30px;
	text-align: center;
	font-size: 1.5rem;
}

.partners{
	background: #666699;
	padding: 50px 0;
}
		
.slide{
	width: 190px;
	height: 200px;
	margin: 0 auto;
	position: relative;
	border-radius: 10px;
	overflow: hidden;
}
		
.slide > div{
	position: absolute;
	width: 100%;
}
		
.slide img{
	width: 100%;
}

.lightblue{
	color: #33ccff;
}





/*************************************

mobile style

*************************************/

@media only screen and (max-width: 600px) {
	
*{
	font-family: 'Open Sans', sans-serif;
}

body{
	background: lavender;
}

.page-padding-x{
	padding: 0 15px;
}

.banner{
	position: relative;
	width: 100%;
	height: 60vh;
	margin-top: 50px;
}

.banner img{
	width: 100%;
	height: 100%;
}

.banner > div{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 5px;
}

.banner-header{
	font-size: 2.1rem;
	color: #fff;
	font-weight: 300;
}


.banner-desc{
	font-size: 1.1rem;
	color: #fff;
	font-weight: 300;
	margin-bottom: 30px;
}

.intro{
	margin: 50px 15px 0 15px;
	display: flex;
	align-items: center;
}

.intro p{
	padding: 0;
}

.btn-partner{
	text-decoration: none;
	display: in-block;
	padding: 7px 15px;
	background: #33ccff;
	color: white;
	border-radius: 20px;
	margin-top: 20px;
	font-size: 1.1em;
}

.intro-buttons{
	display: flex;
	justify-content: center;
}

.intro-buttons a{
	text-decoration: none;
	border: solid 1px #4d6680;
	padding: 5px 10px;
	margin: 0 5px;
	background: #4d6680;
	color: white;
}

.intro-buttons a:nth-child(1){
	background: none;
	color: #4d6680;
}

.feature{
	display: flex;
	flex-direction: column;
	padding: 0 15px;
	margin-top: 50px;
}

.feature > div{
	width: 100%;
	text-align: center;
	margin-top: 40px;
	border-radius: 5px;
	box-shadow: 2px 2px 5px #555;
	padding: 40px 10px;
	color: #000;
	background: white;
}
		
.feature > div:hover{
	background: #eee;
	transition: 0.3s;
}

.feature a{
	display: inline-block;
	background: purple;
	color: white;
	text-decoration: none;
	font-size: 1.2em;
	padding: 5px 10px;
	border-radius: 5px;
}

.counter-container{
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 70px 0;
}

.counter-wrapper p{
	font-size: ;
	color: #8735da;
}

.counter-wrapper > div{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 100px;
	background: #8735da;
	color: #fff;
	font-size: 2.2em;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 5px rgba(136, 53, 218, 0.5);
	margin: 0 auto;
	margin-bottom: 100px;
	-webkit-animation-name: glow;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
}

@keyframes glow{
	0%{
		box-shadow: 0px 0px 0px 0px rgba(136, 53, 218, 0.5);
	}

	50%{
		box-shadow: 0px 0px 0px 5px rgba(136, 53, 218, 0.5);
	}

	100%{
		box-shadow: 0px 0px 0px 0px rgba(136, 53, 218, 0.5);
	}
}

.testimony-container{
	margin: 0 auto;
	overflow: hidden;
	border-radius: 5px;
}

.testimony > div{
	float: left;
	position: relative;
}

.testimony > div img{
	border-radius: 5px;
	width: 100%;
}

.nav-button{
	display: flex;
	justify-content: center;
}

.nav-button span{
	margin: 2px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: white;
	border: solid 1px black;
}

testimony.current{
	background: black;
}

testimony.name{
	position: absolute;
	width: 100%;
	background: rgba(0,0,0,0.5);
	top: -60px;
	left: 0px;
	color: orange;
	padding: 5px;
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
}

testimony.desc{
	position: absolute;
	width: 100%;
	background: rgba(0,0,0,0.5);
	bottom: -120px;
	left: 0px;
	color: white;
	padding: 5px;
	text-align: center;
	font-size: 1em;
}

.profession{
	border-bottom: solid 1px orange;
	font-weight: bold;
	color: orange;
	font-size: 1.1em;
}

.parallax{
	color: #ffa600;
	font-size: 5rem;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/pupils-activities.jpg)
}

.parallax span{
	color: #ffa600;
	font-size: 2.2rem;
	padding: 10px;
	border: solid 1px #ffffff;
	border-left: none;
	border-right: none;
}

.for-laptop{
	position: fixed;
	top: 40%;
	width: 100%;
	text-align: center;
}

.for-laptop h2{
	font-size: 3em;
	color: #ffae00;
}
		
.curriculum{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(rgba(0,102,102,0.95), rgba(0,102,102,0.95)), url(../images/coding.jpg);
	padding: 30px 15px 150px 15px;
	margin-top: 100px;
}
		
.tutors{
	margin: -90px 15px 15px 15px;
	border-radius: 5px 5px 0 0;
	padding: 30px 15px;
}

.program-list{
	width: 100%;
	padding-top: 80px;
	padding-bottom: 80px;
	background: #fff;
}

.program-desc{
	display: flex;
	width: 100%;
	margin-bottom: 70px;
	justify-content: space-between;
	align-items: center;
}

.program-list h3{
	margin-bottom: 30px;
	padding: 0 30px;
	text-align: center;
	font-size: 1.5rem;
}

.partners{
	background: #666699;
	padding: 50px 0;
}
		
.slide{
	width: 190px;
	height: 200px;
	margin: 0 auto;
	position: relative;
	border-radius: 10px;
	overflow: hidden;
}
		
.slide > div{
	position: absolute;
	width: 100%;
}
		
.slide img{
	width: 100%;
}

.lightblue{
	color: #33ccff;
}

}